.navigation__list {
  display: flex;
  gap: 20px 50px;
}

.navigation__item {
  transition: all .2s ease-in-out;
}

.navigation__item:hover {
  color: #A3B6C7
}

.navigation__list_column-mob {
  flex-direction: column;
}

@media (min-width: 560px) {
  .navigation__list_column-mob {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .navigation__list {
    gap: 84px;
  }
}